.input {
	@apply flex flex-col relative;

	input,
	select {
		@apply font-normal text-14 text-white-100 bg-[#181d31] border border-grey-60 rounded-4px py-10px px-16px transition-all duration-300 focus:outline-none focus:pt-20px focus:pb-10px focus:px-16px valid:pt-20px valid:pb-10px valid:px-16px;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent url(../assets/images/angle-down-icon.svg) no-repeat;
		background-position-x: 94%;
		background-position-y: 18px;

		
	}

	label {
		@apply font-medium text-14 text-[#a5abc1] capitalize absolute ml-16px top-10px transition-all duration-300;
	}
	input:valid + label,
	select:valid + label,
	input:-internal-autofill-selected + label {
		@apply font-medium text-10 ml-16px top-6px;
	}

	&__search {
		@apply flex items-center bg-white-100 border border-grey-60 rounded-4px py-10px px-16px w-full;

		img {
			@apply w-18px;
		}

		input {
			@apply border-none ml-10px w-full outline-none;
		}
	}
}
